@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  
}

.search {
  width: 800px;
  margin: 0 auto; 
  position: relative;
  display: flex;
  padding: 5px;
}

.searchTerm {
  width: 80%;
  border: 3px solid black;
  border-right: none;
  padding: 12px;
  height: 14px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  position: fixed;
  z-index: 1;
  top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.errorContainer{
  height: 17px;
  color: red;
  font-size: 12px
}

.errorText{
  margin: 0px;
  padding-left: 15px;
}

@media (max-width: 768px) {
  .pagination {
    display: none;
  }
}

@media (min-width: 768px) {
  .paginationMobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .category {
    display: none;
  }
}

@media (min-width: 768px) {
  .categoryMobile {
    display: none;
  }
}

/* Store.module.css */
.centerButton {
  z-index: 100;
  position: absolute;
  margin-left: 20px;
}


.CategoryLists{
  z-index: 100;
  margin-left: 20px;
}

.title{
  margin-top: 20px;
  margin-bottom: 80px;
}